/* The overlay menu */
.overlay {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the overlay */
}

/* The overlay links */
.overlay a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* 
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
} */



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.Logging {
    /* position: absolute;  */
    background-attachment: fixed;
    background-position: center; 
    /* width: 50% !important;
    height: 50% !important; */
    background-image: url('../../assets/img/chipman-tracker-logo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    /* background-size: 100% 100%; */
  }

  .LogForm{
    display: flex;
  }

  form {
    background-color: rgba(255, 255, 255, 0.685);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    width: 350px;
    margin-top: 40px;
  }

  #closeMenuBtn {
    border: none !important;
    background: transparent !important;
    color: #818181 !important;
  }

  .btnHome {
    display: block;
  }

  @media (max-width: 600px) {
    .LogForm {
      display: flow-root;
    }
    
    /* The Overlay (background) */
    .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */   
      height: 100%;
      width: 0;
      position: fixed; /* Stay in place */
      z-index: 1000; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgb(0,0,0); /* Black fallback color */
      background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    /* Position the content inside the overlay */
    .overlay-content {
      position: relative;
      top: 25%; /* 25% from the top */
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    
    /* The navigation links inside the overlay */
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }
    
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    /* Position the close button (top right corner) */
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

  }