
.showLogout {
    display: inline-flex !important;
}

.hideLogout {
    display: none !important;
}

.showSingIn {
    display: inline-flex !important;
}

.hideSignIn {
    display: none !important;
}