.Cook {
    max-height: 550px;
    overflow-x: auto;
    width: 100%;
}

ul {
    list-style: none;
    overflow-x: auto;
    max-height: 320px;
    width: 95%;
}

li {
    padding: 5px;
    width: 95%;
}

.MuiInputBase-input .MuiInputBase-input {
    cursor: pointer;
}

.MuiFormLabel-root{
    font-size: 1.5rem !important;
}