.Modal {
    text-align: center;
    position: relative;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.685);
    width: 80%;
    min-height: 450px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    overflow-x: auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: -95% auto;
}

@media (min-width: 600px) {
    .Modal {
        margin: -40% auto;
    }
}