.Modal {
    text-align: center;
    position: relative;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.685);
    width: 80%;
    min-height: 450px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    overflow-x: auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: -500px auto;
    /* position: fixed; */
    /* top: 50%;    
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)'; */
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

@media (min-width: 600px) {
    .Modal {
        /* margin: -60vh auto; */
    }
}

@media (max-height: 600px) {
    .Modal {
        /* margin: -90vh auto; */
    }
}