.hoursView {
    width: 97% !important;
    margin: auto !important;
}

ul {
    list-style: none;
    overflow-x: auto;
    max-height: 400px;
    width: 95%;
}

.myHeader {
  display: flex;
  background: rgb(0 123 255 / 50%);
  margin-top: 40px;
}

.dayOff2 {
    width: 50px !important;
}

li {
    padding: 1px;
    width: 95%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #4d4141;
}

.button-wrap {
    position: relative;
}

.successSave {
    animation: mymove 3s;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderDiv {
  margin-top: 10%;
  display: inline-block;
}
  
@keyframes mymove {
    from {background-color: transparent;}
    to {background-color: rgba(9, 241, 9, 0.651);}
}

  