.hoursView {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    margin: auto !important;
}

.myHours {
  width: 97% !important;
  margin: auto !important;
}

.hoursView::-webkit-scrollbar {
    display: none;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    overflow-y: scroll !important; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .overlay::-webkit-scrollbar {
      display: none;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    display: inline-grid !important;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .btnHome {
    display: block;    
    background: #6495edad;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute; 
    z-index: 600;
  }

  .navbtn {
    border: none !important;
    background: transparent !important;
    color: #818181 !important;
    font-size: 36px;
    padding: 5px !important;
    margin: 5px !important;
  }

  #closeMenuBtn {
    border: none !important;
    background: transparent !important;
    color: #818181 !important;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .navbtn {
      font-size: 20px;
    }
  }

button:focus {
    outline: none;
}

ul {
    list-style: none;
    overflow-x: auto;
    max-height: 400px;
    width: 95%;
}

.myHeader {
  display: flex;
  background: rgb(0 123 255 / 50%);
  margin-top: 40px;
}

.dayOff2 {
    width: 50px !important;
}

li {
    padding: 1px;
    width: 95%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #4d4141;
}

.button-wrap {
    position: relative;
}

.successSave {
    animation: mymove 3s;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderDiv {
  margin-top: 10%;
  display: inline-block;
}
  
@keyframes mymove {
    from {background-color: transparent;}
    to {background-color: rgba(9, 241, 9, 0.651);}
}

.btn-text b {
  display:inline
}

.btn-text.collapsed b {
  display:none
}

.btn-text:not(.collapsed) span {
  display:none
}

.loaderLight {
  color: black !important;
}

.loaderDark {
  color: aliceblue !important;
}
  
.dark {
  background: rgb(1, 27, 75);
}

.btnDark {
  display: block;    
  background: #6495edad;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  z-index: 600;
}
