.Fridge {
    max-height: 550px;
    overflow-x: auto;
    width: 100%;
}

ul {
    list-style: none;
    overflow-x: auto;
    max-height: 320px;
    width: 95%;
}

li {
    padding: 5px;
    width: 95%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #4d4141;
}

.button-wrap {
    position: relative;
}

  