.DayView {
    max-height: 550px;
    overflow-x: auto;
    width: 100%;
}

.dark {
  background: rgb(1, 27, 75);
}

.darkV {
   background: #0f3251 !important;
   color: aliceblue;
}

.darkI {
   color: black !important;
}

.content { 
    color: navy !important;
}
  
.contentDark {
    color: #aec8f8 !important;
}

li {
    padding: 1px;
    width: 95%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #4d4141;
}

.button-wrap {
    position: relative;
}

.successSave {
    animation: mymove 3s;
}

.dayOff{
    width: 30%;
}
  
@media (max-width: 600px) {    
    .dayOff{
      width: 100%;
    }
  }
  
@keyframes mymove {
    from {background-color: transparent;}
    to {background-color: rgba(9, 241, 9, 0.651);}
}

  