.NewDayView {
    max-height: 550px;
    overflow-x: auto;
    width: 100%;
}

.content2 { 
    color: navy !important;
}
  
.contentDark2 {
    color: #2b5ab1 !important;
}

.dark {
  background: rgb(1, 27, 75);
}

.darkV {
   background: #0f3251 !important;
   color: aliceblue;
}

li {
    padding: 1px;
    width: 95%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #4d4141;
}

textarea {
    width: 100% !important;
}

.button-wrap {
    position: relative;
}

.successSave {
    animation: mymove 3s;
}
  
@keyframes mymove {
    from {background-color: transparent;}
    to {background-color: rgba(9, 241, 9, 0.651);}
}

  